@use "index" as *;

#contact {
    @include flex-column-start;
    align-items: flex-start;
    background: transparent url(/assets/images/contact-hero-bg.jpeg) no-repeat center center;
    background-size: cover;
}