@use 'index' as *;

header {
    @include flex-space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 12rem;
    background-color: $card-background;
    padding: 0 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

    @include respond-to('small') {
        padding: 0 3rem;
    }

    @include respond-to('medium') {
        padding: 0 5rem;
    }

    @include respond-to('large') {
        padding: 0 8rem;
    }

    @include respond-to('xlarge') {
        padding: 0 12rem;
    }

    .header-logo {
        height: 10rem;
        width: auto;
    }

    .nav-burger-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6rem;
        height: 6rem;
        cursor: pointer;
        border: unset;
        background: transparent;

        @include respond-to('medium') {
            display: none;
        }


        .nav-burger {
            fill: $secondary-color;

            .bar {
                transition: all 125ms ease-in-out;
                transform-origin: center;
            }

            &__open {
                .top {
                    transform: translate(-18%, 18%) rotate(45deg);
                }

                .middle {
                    transform: translate(-18%, 0) scaleX(0);
                }

                .bottom {
                    transform: translate(-18%, -18%) rotate(-45deg);
                }

                &:hover {
                    transform: scale(0.8);

                    .middle {
                        transform: translate(-18%, 0) scaleX(0);
                    }
                }
            }
        }

        &:hover {
            .middle {
                transform: scale(0.4);
            }
        }
    }

    .nav-links {
        @include flex-column-center;
        gap: 4rem;
        position: absolute;
        top: 12rem;
        right: 2rem;
        left: 2rem;
        width: auto;
        height: 0;
        background-color: $card-background;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: all 125ms ease-in-out;

        @include respond-to('medium') {
            position: static;
            min-width: 60rem;
            flex-direction: row;
            justify-content: flex-end;
            gap: 2rem;
            height: 10rem;
            background-color: transparent;
            box-shadow: none;
            width: auto;
            padding: 0;
        }

        &__open {
            height: auto;
            padding: 2rem;
        }

        a {
            font-size: 2.5rem;
            font-weight: 700;
            color: $utility-color;
            transition: color 125ms ease-in-out;
            @include flex-center;
            position: relative;
            text-decoration: none;

            &::before {
                position: absolute;
                top: -0.5rem;
                left: 0;
                content: '';
                display: block;
                width: 0;
                height: 0.2rem;
                background: linear-gradient(45deg, $primary-color 0%, $secondary-color 100%);
                transition: width 250ms ease-in-out;
            }

            &::after {
                position: absolute;
                bottom: -0.5rem;
                right: 0;
                content: '';
                display: block;
                width: 0;
                height: 0.2rem;
                background: linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%);
                transition: width 250ms ease-in-out;
            }

            &:hover {
                color: $primary-color;

                &::before,
                &::after {
                    width: 100%;
                }
            }

            &.active {
                color: $primary-color;
                cursor: default;

                &::before,
                &::after {
                    width: 100%;
                }
            }
        }

        .contact-button {
            @include respond-to('medium') {
                @include main-button;
            }
        }
    }
}