@font-face {
  font-display: swap;
  font-family: 'Anavio';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/anavio-regular.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Anavio';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/anavio-bold.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/raleway-100.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/raleway-200.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/raleway-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/raleway-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/raleway-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/raleway-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/raleway-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/raleway-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/raleway-900.woff2') format('woff2');
}