@use 'variables' as *;

@mixin respond-to($breakpoint) {
    @if $breakpoint ==small {
        @media (min-width: 576px) {
            @content;
        }
    }

    @else if $breakpoint ==medium {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $breakpoint ==large {
        @media (min-width: 992px) {
            @content;
        }
    }

    @else if $breakpoint ==xlarge {
        @media (min-width: 1200px) {
            @content;
        }
    }
}


@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin absolute-top-left {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin absolute-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

@mixin responsive-padding-sides {
    padding-left: 2rem;
    padding-right: 2rem;

    @include respond-to('small') {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include respond-to('medium') {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    @include respond-to('large') {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    @include respond-to('xlarge') {
        padding-left: 12rem;
        padding-right: 12rem;
    }
}

@mixin responsive-padding-top {
    padding-top: 2rem;

    @include respond-to('small') {
        padding-top: 3rem;
    }

    @include respond-to('medium') {
        padding-top: 5rem;
    }

    @include respond-to('large') {
        padding-top: 8rem;
    }

    @include respond-to('xlarge') {
        padding-top: 12rem;
    }
}

@mixin main-button {
    position: relative;
    background-color: $secondary-color;
    overflow: hidden;
    color: $utility-color;
    padding: 1rem 2rem;
    border: 0.25rem solid $primary-color;
    border-radius: 2rem;
    font-size: 2.5rem;
    font-weight: 700;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary-color;
        mask-image: linear-gradient(45deg, transparent 0%, transparent 45%, black 50%, transparent 55%, transparent 100%);
        mask-size: 200% 200%;
        mask-position: 100% 0%;
        transition: mask-position 0.4s ease-in-out;
    }

    &:hover {

        &::before {
            mask-position: 0% 100%;
        }
    }

    &.active {
        box-shadow: inset 0 0 1rem 1rem rgba($primary-color, 0.4);
    }

    &::after {
        display: none;
    }
}

@mixin glassmorphism-primary {
    background: $glass-color;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}