$primary-color: #fec96b;
$secondary-color: #008081;
$bg-color: #f0f0f0;
$error-color: #FF002E;
$card-background: #000000b3;
$textfield-background: #1c1a20cc;
$utility-color: #D3D3D3;
$text-color: #000;

$primary-font: 'Raleway', Arial, Helvetica, sans-serif;
$secondary-font: 'Anavio', 'Times New Roman', Times, serif;