@use "index" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 8px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body,
app-root {
    height: 100dvh;
    width: 100dvw;
    background-color: $bg-color;
    @include flex-column-center;
}

app-root {
    >* {
        width: 100%;
    }

    >:nth-child(3) {
        display: block;
        flex: 1;
    }
}