@use 'index' as *;

#legal-notice {
    @include flex-column-start;
    @include responsive-padding;
    align-items: flex-start;
    gap: 2rem;

    .responsible-party {
        @include flex-column-start;
        align-items: flex-start;
        gap: 2rem;

        .contact-details {
            @include flex-column-start;
            align-items: flex-start;
            gap: 1rem;
            font-style: normal;
        }
    }

    .image-rights {
        @include flex-column-start;
        align-items: flex-start;
        gap: 1rem;
    }

    .disclaimer {
        @include flex-column-start;
        align-items: flex-start;
        gap: 1rem;
    }
}