@use 'index' as *;

footer {
    width: 100%;
    height: auto;
    background-color: $bg-color;
    @include flex-column-center;
    padding: 2rem;
    gap: 1rem;
    line-height: normal;

    .footer-logo {
        max-height: 10rem;

        @include respond-to(large) {
            max-height: unset;
            max-width: 200px;
        }
    }

    p {
        font-size: 2rem;
        color: #000;
    }

    .footer-list {
        @include flex-center;
        max-width: 300px;
        justify-content: space-between;
        gap: 1rem;

        li {
            a {
                &.active {
                    text-decoration: underline;
                }
            }
        }

        .separator-circle {
            fill: $secondary-color;
        }
    }
}