@use 'index' as *;

footer {
    width: 100%;
    height: auto;
    background-color: $bg-color;
    @include flex-column-center;
    padding: 2rem;
    gap: 1.5rem;

    .footer-logo {
        max-width: 200px;
    }

    p {
        font-size: 1.5rem;
        color: #000;
    }

    .footer-list {
        @include flex-center;

        li {
            a {
                font-size: 1.5rem;
                color: $secondary-color;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }

                &.active {
                    text-decoration: underline;
                }
            }

            &:not(:first-child) {
                list-style: disc;
                margin-left: 2.5rem;

                a {
                    margin-left: 1.5rem;
                }
            }

        }
    }
}