<footer>
    <img src="/assets/images/logo.png" alt="Logo Napata" class="footer-logo" />
    <ul class="footer-list">
        <li><a routerLink="/imprint" routerLinkActive="active">Impressum</a></li>
        <li><svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                <circle class="separator-circle" cx="5" cy="5" r="5" fill="currentColor" />
            </svg></li>
        <li><a routerLink="/privacy" routerLinkActive="active">Datenschutz</a></li>
    </ul>
    <small>&copy; 2025 Napata. Alle Rechte vorbehalten.</small>
</footer>