@use "index" as *;

.contact-form-container {
    @include flex-column-center;
    @include responsive-padding-sides;
    @include responsive-padding-top;
    padding-bottom: 4rem;
    gap: 4rem;
    background: $bg-color;
    position: relative;


    .contact-form {
        @include flex-column-space-between;
        gap: 3rem;

        .form-group {
            @include flex-column-start;
            position: relative;

            label {
                position: absolute;
                top: -3rem;
                left: 0;
                font-size: 2rem;
                color: $text-color;
            }

            input,
            textarea {
                width: 100%;
                max-width: 60rem;

                padding: 1rem;
                font-size: 2rem;
                border: 1px solid $primary-color;
                border-radius: 0.5rem;
                background: $glass-color;
                color: $text-color;
                resize: vertical;

                &:focus {
                    outline: none;
                    box-shadow: inset 0 0 0.5rem 0.5rem $primary-color;
                }
            }

            &.privacy-accepted {
                position: relative;
                flex-direction: row;
                align-items: flex-start;
                gap: 1rem;

                label,
                a {
                    position: static;
                    font-size: 1.5rem;
                }

                input {
                    width: auto;
                    max-width: none;
                }
            }

        }

        button {
            @include main-button;
            cursor: pointer;

            &:disabled {
                filter: grayscale(0.8);
                cursor: not-allowed;
            }
        }

        .form-error {
            position: absolute;
            bottom: 1rem;
            left: 0;
            right: 0;
            text-align: center;
            color: $error-color;
            font-size: 1.5rem;
        }

        .required {
            color: $error-color;
        }
    }
}