<section class="contact-form-container">
    <div class="contact-form-header">
        <h2>Los geht's...</h2>
        <div class="contact-form-header__divider"></div>
        <p>Nimm gerne Kontakt mit uns auf und lasse uns wissen wer du bist:</p>
    </div>
    <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="sure-name">Dein Name<span class="required">*</span></label>
            <input type="text" id="sure-name" name="sure-name" formControlName="name">
        </div>
        <div class="form-group">
            <label for="first-name">Dein Vorname<span class="required">*</span></label>
            <input type="text" id="first-name" name="first-name" formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="email">Deine E-Mail-Adresse<span class="required">*</span></label>
            <input type="email" id="email" name="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="subject">Betreff<span class="required">*</span></label>
            <input type="text" id="subject" name="subject" formControlName="subject">
        </div>
        <div class="form-group">
            <label for="message">Deine Nachricht<span class="required">*</span></label>
            <textarea id="message" name="message" rows="5" formControlName="message"></textarea>
        </div>
        <div class="form-group privacy-accepted">
            <input type="checkbox" id="privacyAccepted" name="privacyAccepted" formControlName="privacyAccepted">
            <label for="privacyAccepted">Ich akzeptiere die <a routerLink="/privacy" routerLinkActive="active"
                    (click)="$event.stopPropagation()">Datenschutzbestimmungen</a>
            </label>
        </div>
        <p class="form-error">
            @switch (true) {
                @case(name.invalid && name.dirty) {
                    @if (name.hasError('required')) {
                        Bitte gib deinen Namen an.
                    }
                    @else if (name.hasError('minlength')) {
                        Dein Name muss mindestens 3 Zeichen lang sein.
                    }
                }
                @case(firstName.invalid && firstName.dirty) {
                    @if (firstName.hasError('required')) {
                        Bitte gib deinen Vornamen an.
                    }
                    @else if (firstName.hasError('minlength')) {
                        Dein Vorname muss mindestens 3 Zeichen lang sein.
                    }
                }
                @case(email.invalid && email.dirty) {
                    @if (email.hasError('required')) {
                        Bitte gib deine E-Mail-Adresse an.
                    }
                    @else if (email.hasError('email')) {
                        Bitte gib eine gültige E-Mail-Adresse ein.
                    }
                }
                @case(subject.invalid && subject.dirty) {
                    @if (subject.hasError('required')) {
                        Bitte gib einen Betreff an.
                    }
                    @else if (subject.hasError('minlength')) {
                        Der Betreff muss mindestens 2 Zeichen lang sein.
                    }
                }
                @case(message.invalid && message.dirty) {
                    @if (message.hasError('required')) {
                        Bitte gib eine Nachricht ein.
                    }
                    @else if (message.hasError('minlength')) {
                        Deine Nachricht muss mindestens 10 Zeichen lang sein.
                    }
                }
                @case(privacyAccepted.invalid && contactForm.dirty && isRestValid) {
                    @if (privacyAccepted.hasError('required')) {
                        Bitte akzeptiere die Datenschutzbestimmungen.
                    }
                }
                @case(contactForm.invalid && contactForm.touched && isSomethingDirty) {
                    Bitte alle mit * markierten Felder ausfüllen.
                }
            }

        </p>
        <button type="submit" [disabled]="contactForm.invalid">Senden</button>
    </form>
</section>