@use 'index' as *;

.contact-hero {
    @include flex-column-center;
    @include glassmorphism-primary;
    @include responsive-padding-top;
    @include responsive-padding-sides;
    text-align: center;
    width: 100%;
    padding-bottom: 4rem;
    min-height: 33dvh;




    h1 {
        color: $primary-color;

        @include respond-to(medium) {
            font-size: 6rem;
        }
    }

    p {
        color: $text-color;
        font-family: $secondary-font;
        margin-top: 1rem;

        @include respond-to(small) {
            max-width: 60dvw;
        }

        @include respond-to(medium) {
            font-size: 2.5rem;
        }
    }
}