@use 'index' as *;

.contact-hero {
    @include flex-column-center;
    @include glassmorphism-primary;
    @include responsive-padding-top;
    @include responsive-padding-sides;
    text-align: center;
    width: 100%;
    padding-bottom: 4rem;
    min-height: 33dvh;


    h1 {
        color: $primary-color;
    }

    p {
        color: $text-color;
        font-family: $secondary-font;
        margin-top: 1rem;
    }
}